@tailwind base;
@tailwind components;
@tailwind utilities;

.todays{
    position:relative;
}
.todays::before{
    content: '';

    position:absolute;
    height:100%;
    width:25px;
    background-color:#db4444;
    border-radius:5px;
}
/* .cards-5{
    padding:2rem 3rem;
    display:grid;
    grid-template-columns:repeat(12,1fr);
    max-width:1200px;
    column-gap:20px;
    place-items:center;
} */
.gird1{
    width:300px;
    height:350px;
}

/* .swiper-slide{
  max-width:300px;
} */

.swiper-wrapper{
    gap:40px;
   margin-bottom:40px;
   margin-top:30px;
}
.mySwiper{
    display:flex;
    align-items: center;
}
.features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 350px);
    column-gap: 20px;
    row-gap: 30px;
}

.feature-1-span-row-1-2 {
    grid-column: 1 / span 2;
    /* grid-row: 1 / span 2; */
}
.image-ps5 {
    width:100%;
    height:auto;
    object-fit: cover;

}

.feature-2-span-colums-2-3 {
    grid-column: 3 / 5;
    grid-row: 1;

}
.img-2 {
    width:100%;
    object-fit: cover;

}
.strat-row-2-colums-start-2-end-3{
grid-column: 3 / 4;
}
.start-row-2-columns-start-3-end-4 {
    grid-column: 4 / 5;

}


@media(max-width: 700px){
    
}